<!DOCTYPE html>
<html>
  <head>
    <title><%= name %> API Specification</title>
    <!-- needed for adaptive design -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--
    ReDoc uses font options from the parent element
    So override default browser styles
    -->
    <style>
      body {
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <redoc spec-url="./swagger.json">
    </redoc>
    <script src="//rebilly.github.io/ReDoc/releases/v1.x.x/redoc.min.js"> </script>
  </body>
</html>
