<!DOCTYPE html>
<html>
  <head>
    <title>REST API Specification</title>
    <!-- needed for adaptive design -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--
    ReDoc uses font options from the parent element
    So override default browser styles
    -->
    <style>
      @import url(//fonts.googleapis.com/css?family=Roboto:300,400,700);
      @import url(//fonts.googleapis.com/css?family=Montserrat:400,700);

      body {
        margin: 0;
        padding: 0;
        font-family: Verdana, Geneva, sans-serif;
        font-size: 14px;
        color: #333;
      }

      redoc api-logo img {
        padding: 20px 30px 14px 30px;
      }
    </style>
  </head>
  <body>
    <redoc spec-url="./swagger.json">
    </redoc>
    <script src="//rebilly.github.io/ReDoc/releases/<%= redocVersion %>/redoc.min.js"> </script>
  </body>
</html>
