extends: "eslint:recommended"
env:
  node: true
  es6: true
parserOptions:
  ecmaVersion: 2019
rules:
  no-console: [0]
  no-warning-comments: 0
  no-empty:
    - "error"
    - allowEmptyCatch: true
  no-var: [2]
  prefer-const: [2]
    